name: Release Custom Version

permissions:
  contents: write

on:
  push:
    branches:
      - main  # 只有 main 分支变动才触发发布
    paths:
      - 'package.json' # 且只有当版本号变了才发

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.PAT }}

      - name: Get Version
        id: version
        run: |
          VERSION=$(jq -r .version package.json)
          echo "tag_name=v$VERSION" >> "$GITHUB_OUTPUT"

      - name: Check & Create Tag
        id: release_check
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          TAG="${{ steps.version.outputs.tag_name }}"
          if git ls-remote --exit-code --tags origin "$TAG" >/dev/null 2>&1; then
            echo "exists=true" >> "$GITHUB_OUTPUT"
          else
            echo "exists=false" >> "$GITHUB_OUTPUT"
            git config --global user.name "github-actions[bot]"
            git config --global user.email "github-actions[bot]@users.noreply.github.com"
            git tag -a "$TAG" -m "Custom Release $TAG"
            git push origin "$TAG"
          fi

      - name: GitHub Release
        if: steps.release_check.outputs.exists == 'false'
        uses: softprops/action-gh-release@v2
        with:
          token: ${{ secrets.PAT }}
          tag_name: ${{ steps.version.outputs.tag_name }}
          name: ${{ steps.version.outputs.tag_name }}
          generate_release_notes: true
